-- 1. Remover itens antigos para evitar erro de violação de Not Null
DELETE FROM itens_cardapio;
-- 2. Adicionar a coluna restaurante_id
ALTER TABLE itens_cardapio ADD COLUMN restaurante_id BIGINT NOT NULL;
-- 3. Criar a chave estrangeira (Foreign Key)
ALTER TABLE itens_cardapio ADD CONSTRAINT FK_itens_cardapio_restaurantes FOREIGN KEY (restaurante_id) REFERENCES restaurantes(id);
